name: Python Tests

on:
  pull_request:
    branches: [ "**" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    
    - name: Fetch base branch
      run: git fetch origin main:refs/remotes/origin/main

    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true
        version: "0.8"

    - name: Set up Python
      run: uv python install 3.9

    - name: Run tests
      env:
        AUTH_TOKEN: abc
      run: uv run pytest
